@model IEnumerable<UserModel>

@{
    ViewBag.Title = "Membres";
}

@section Head
{
    <link rel="stylesheet" href="/css/users/table.css" asp-append-version="true"/>
}

@section Header
{
    <h1>Liste des membres</h1>
}

<main>
    <div>
        <div>
            <form asp-controller="Users" asp-action="Wanted" method="get">
                <input type="text" name="name" placeholder="Nom"/>
                <input type="text" name="corporation" placeholder="Corporation"/>
                <button type="submit">Rechercher</button>
            </form>
            @await Html.PartialAsync("_Paging")
        </div>
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Corporation</th>
                <th>admin</th>
                <th>Dossier</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.name</td>
                    <td>@user.corporation</td>
                    <td>@(user.isAdmin ? "oui" : "non")</td>
                    <th>
                        <a asp-controller="Users" asp-action="Folder" asp-route-id="@user.id">Ouvrir</a>
                    </th>
                </tr>
            }
            </tbody>
        </table>
        @await Html.PartialAsync("_Paging")
    </div>
</main>