@using DataBaseCDF.Services
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true"/>
    @await RenderSectionAsync("Head", required: false)
</head>
<body>
<nav>
    <img src="/images/logo.svg" alt="Logo officiel de la CDF"/>
    <ul>
        <li>
            <a asp-controller="Users" asp-action="Index">Accueil</a>
        </li>
        @if (User.IsAdmin())
        {
            <li>
                <a asp-controller="Users" asp-action="Create">Ajouter</a>
            </li>
            <li>
                <a asp-controller="Users" asp-action="Members">Membres</a>
            </li>
        }
        @* <li><a asp-controller="Users" asp-action="Index">Wanted</a></li> *@
        <li>
            <a asp-controller="Home" asp-action="Logout">Deconnexion</a>
        </li>
    </ul>
    <hr/>
    <div>
        @await RenderSectionAsync("Nav", required: false)
    </div>
</nav>
@RenderBody()
<footer>
    <hr/>
    <p>
        &copy;CDF - @DateTime.UtcNow.Year 〉Développé par <a href="https://sinafproduction.xyz" target="_blank">MrSinaf</a>
        〉<a asp-controller="Home"asp-action="About">RGPD</a>
    </p>
</footer>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>