@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

@section Head
{
    <link rel="stylesheet" href="/css/error.css" asp-append-version="true"/>
}

@* @section Nav *@
@* { *@
@*     <header> *@
@*         <h1> *@
@*             [Accès interdit] *@
@*         </h1> *@
@*     </header> *@
@* } *@

<main>
    <p>Une erreur est survenu !</p>
</main>