@model LoginModel;

@{
    ViewData["Title"] = "CDF";
    Layout = null;
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="/css/login.css" asp-append-version="true"/>
</head>
<main>
    <img src="images/logo.svg" alt="Logo officiel CDF"/>
    <form asp-controller="Home" asp-action="Login" method="post">
        <input type="text" name="id" placeholder="ID" value="@Model.id" required/>
        <input type="password" name="password" placeholder="Mot de passe" required/>
        <button type="submit">Connexion</button>
    </form>
</main>
</html>