main {
    padding: 10px;
}

table {
    width: 75%;
    margin: auto;
}

thead {
    background: var(--color-secondary);
    text-transform: uppercase;
}

tr {
    height: 45px;
    background: rgba(255, 255, 255, 0.05);
}

td {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.1);
}

select {
    width: 120px;
}

button {
    display: block;
    margin: 10px auto;
}

#popup {
    display: none;
    position: absolute;
}

#popup .active {
    display: block;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination ul {
    margin-top: 20px;
    padding-left: 0;
}

.pagination li {
    margin: 0 10px;
}

.button--disable {
    color: grey;
}

.button--disable:hover {
    cursor: auto;
    color: grey;
}

#nUsers {
    background-color: rgba(255, 255, 255, 0.13);
    padding: 5px 10px;
    width: fit-content;
    margin: 0 auto;
}