header {
    position: relative;
}

main {
    padding: 20px;
}

#id {
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    width: fit-content;
    margin: 0 auto;
    padding: 10px 30px;
}

#lastUpdate {
    margin-left: 15px;
}

#state {
    font-family: "Top secret", sans-serif;
    letter-spacing: 0;
    font-size: 60px;

    text-align: center;
    position: absolute;
    top: 0;
    right: 100px;
    rotate: -25deg;
}

.infos {
    display: flex;
    margin: 5px 0;
}

.infos p {
    margin: 0;
}

.infos > :first-child {
    background: var(--color-secondary);
    text-align: center;
    width: 200px;
    padding: 5px;
}

.infos > p:last-child {
    padding: 6px 20px;
    width: 100%;
    background: rgba(0, 0, 0, 0.45);
}

#casier {
    display: flex;
    flex-direction: column;
}

#casier > p {
    margin: 10px auto 0 auto;
}

#casier > div {
    background: rgba(0, 0, 0, 0.45);
    height: 300px;
    overflow-y: scroll;
    scrollbar-color: var(--color-secondary) black;
}

.red {
    color: red;
}

.green {
    color: green;
}

.grey {
    color: grey;
}

.folder {
    padding: 5px;
    background: rgba(255, 255, 255, 0.05);
    margin: 10px;
}

.folder__author {
    color: var(--color-secondary);
}

#buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 0 20px;
}

#wanted {
    width: 100%;
    text-align: center;
    padding: 5px;
    background: rgba(255, 0, 0, 0.4);
}