@font-face {
    font-family: "MADE TOMMY";
    src: url("../fonts/MADE TOMMY.otf") format("opentype");
}

@font-face {
    font-family: "University";
    src: url("../fonts/University.otf") format("opentype");
}

@font-face {
    font-family: "Top secret";
    src: url("../fonts/Top Secret.ttf") format("truetype");
}

html {
    --background-color: #00022c;
    --background-color-secondary: #022d52;
    --color-secondary: #59653F;
    --focus-text-color: #4646e0;

    background: var(--background-color);
    font-family: "MADE TOMMY", sans-serif;
    letter-spacing: 1px;
    color: white;
    overflow-x: hidden;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

nav > img {
    position: absolute;
    z-index: 10;
    margin: 10px;
    max-width: 448px;
}

nav > hr {
    top: 50%;
    border: none;
    z-index: -1;
}

nav > ul {
    display: flex;
    margin-top: 80px;
    justify-content: right;
    list-style-type: none;
    font-family: "University", sans-serif;
}

nav > ul li {
    margin: 0 20px;
}

nav > div {
    height: 130px;
    text-align: center;
    padding: 0 15px;
}

hr {
    background: var(--color-secondary);
    width: 100%;
    height: 10px;
    border: none;
}

nav  a:any-link {
    color: white;
    text-decoration: none;
}

a:any-link {
    color: var(--color-secondary);
}

a:hover, a:any-link:hover {
    cursor: pointer;
    color: var(--color-secondary);
}

form > * {
    height: 30px;
}

input {
    background-color: var(--background-color-secondary);
    border: none;
    color: white;
    font-family: "MADE TOMMY", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
}

textarea {
    resize: none;
    border: none;
    background: var(--background-color-secondary);
    color: white;
    font-family: "MADE TOMMY", sans-serif;
    letter-spacing: 1px;
}

textarea:focus {
    outline: none;
}

button {
    font-family: University, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    background: none;
    border: none;
    color: white;
}

button:hover {
    color: var(--color-secondary);
}

select {
    font-family: "MADE TOMMY", sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    background: var(--background-color-secondary);
    border: none;
    margin: 0;
    color: white;
}

select > option {
    border: none;
}

input:focus {
    background-color: #022d52;
    outline: none;
}

footer {
    text-align: center;
}

h1 {
    font-size: 40px;
}

.id {
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    width: fit-content;
    margin: 0 auto;
    padding: 10px 30px;
}