@section Head
{
    <link rel="stylesheet" href="/css/report.css" asp-append-version="true"/>
}
<main>
    <p id="id">@ViewBag.targetId</p>
    <form asp-controller="Users" asp-action="Report" method="post">
        <input type="hidden" name="id" value="@ViewBag.targetId" required/>
        <textarea name="message" placeholder="Report à ajouter..." minlength="10" required></textarea>
        <button type="submit">Envoyer</button>
    </form>
</main>